/* Your unique CSS styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
    margin-bottom: 2rem; 
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.signup-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem; 
  
}

h2 {
  color: #333;
  margin-bottom: 1.5rem;
}

label {
  display: block;
   margin-bottom: 0.5rem; 
}

input {
  width: 75%;
  padding: 0.5rem;
   margin-bottom: 2rem; 
}

button.center-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 2rem 3rem;
  cursor: pointer;
  margin: 1rem auto 0; /* Increase the bottom margin to move the button down */
  display: block; /* Ensure the button takes the full width of the parent container */
}

button.center-button:hover {
  background-color: #555;
}

footer {
   text-align: center;
  padding: 2rem; /* Increase the padding to make the footer bigger */
  background-color: #333;
  color: #fff;
  font-size: 1rem; 
   margin-top: 10rem;
}
/* Mobile-First Styles */

@media screen and (min-width: 768px) {
  /* Tablet and larger screens */
  main {
    padding: 4rem;
  }
  .signup-form {
    padding: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop styles */
  main {
    max-width: 800px;
  }
}
